---
const user = Astro.locals.user;
if (!user) {
	return Astro.redirect("/login");
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lucia example</title>
	</head>
	<body>
		<h1>Hi, {user.username}!</h1>
		<p>Your user ID is {user.id}.</p>
		<form method="post" action="/api/logout">
			<button>Sign out</button>
		</form>
	</body>
</html>

<script>
	document.forms[0].addEventListener("submit", async (e) => {
		e.preventDefault();
		const formElement = e.target as HTMLFormElement;
		await fetch(formElement.action, {
			method: formElement.method,
			body: new FormData(formElement)
		});
		window.location.href = "/login";
	});
</script>
